
<div class="user-form">
  <h1>ログイン</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="inner-wrap">
      <%= f.label :email do %>メールアドレス
        <%= f.email_field :email, autofocus: true %>
      <% end %>

      <%= f.label :password do %>パスワード
        <%= f.password_field :password %>
      <% end %>

    </div>

    <div class="button-section">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

</div>

<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

<!-- 参考CSSサイト
  https://www.sanwebe.com/2014/08/css-html-forms-designs
-->