
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<header>
  <div class="header-links">
    <div class="logo">
      <%= link_to 'My Recipe', root_path %>
    </div>
  </div>

  <div class="header-search">
    <form method="get" action="#" class="search_container">
      <input type="text" size="25" placeholder="料理名・食材名">
      <input type="submit" value="&#xf002">
    </form>
  </div>

  <div class="header-btn-items">
    <% if user_signed_in? %>

      <div class="header-btn">
        <%= link_to menus_users_path, class: 'btn' do %>
          <span class="fas fa-utensils icon"></span>
          <span class="btn-text">今日のごはん</span>
        <% end %>
      </div>

      <div class="header-btn">
        <%= link_to favorite_recipes_users_path, class: 'btn' do %>
          <span class="fas fa-star icon"></span>
          <span class="btn-text">お気に入り</span>
        <% end %>
      </div>

      <div class="header-btn">
        <%= link_to new_recipe_path, class: 'btn' do %>
          <span class="fas fa-edit icon"></span>
          <span class="btn-text">レシピ投稿</span>
        <% end %>
      </div>

      <div class="dropdown header-btn">
        <a class="btn" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
            <span class="fas fa-user icon"></span>
            <span class="btn-text"><%= current_user.name %></span>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <%= link_to '自宅の材料', user_ingredients_path, class: 'dropdown-item' %>
          <%= link_to '材料一覧', ingredients_path, class: 'dropdown-item' %>
          <%= link_to 'レシピ一覧', recipes_path, class: 'dropdown-item' %>
          <%= link_to 'カテゴリー', categories_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: 'dropdown-item' %>
        </div>
      </div>

    <% else %>

      <div class="header-btn">
        <%= link_to new_user_session_path, class: 'btn' do %>
          <span class="fas fa-sign-in-alt icon"></span>
          <span class="btn-text">ログイン</span>
        <% end %>
      </div>

      <div class="header-btn">
        <%= link_to new_user_registration_path, class: 'btn' do %>
          <span class="fas fa-user icon"></span>
          <span class="btn-text">ユーザー登録</span>
        <% end %>
      </div>

      <div class="header-btn">
        <%= link_to new_user_registration_path, class: 'btn' do %>
          <span class="fas fa-book-reader icon"></span>
          <span class="btn-text">初めての方へ</span>
        <% end %>
      </div>

    <% end %>
  </div>
</header>
